@model BolsaDeValores.Models.Actions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.priceQuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.priceQuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantMinSell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantMinSell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
